/**
 * Syntax highlighting styles
 */
.highlight {
    background: #fff;
    @extend %vertical-rhythm;

    .highlighter-rouge & {
      background: #22282A;
    }

    .c,    // Comment
    .cm,   // Comment.Multiline
    .cp,   // Comment.Preproc
    .c1,   // Comment.Single
    .cs { color: #999; }   // Comment.Special

    .err   { color: #D9D9D9/*color: #a61717; background-color: #e3d2d2*/ } // Error

    .k , // Keyword
    .kc, // Keyword.Constant
    .kd, // Keyword.Declaration
    .kp, // Keyword.Pseudo
    .kr, // Keyword.Reserved
    .kt    { color: #91C155; } // Keyword.Type

    .n, .o, .p, .nx     { color: #D9D9D9 }


    .na    { color: #008080; } // Name.Attribute
    .nb    { color: #0086B3; } // Name.Builtin
    .nc    { color: #5D7C9D; } // Name.Class
    .no    { color: #5D7C9D; } // Name.Constant
    .ni    { color: #91B5EA; } // Name.Entity
    .ne    { color: #91B5EA; } // Name.Exception
    .nf    { color: #91B5EA; } // Name.Function
    .nn    { color: #91B5EA; } // Name.Namespace
    .nt    { color: #000080 } // Name.Tag
    .nv    { color: #008080 } // Name.Variable
    .ow    {  } // Operator.Word
    .w     {  } // Text.Whitespace

    .m     { color: #CFAB00; } // Literal.Number
    .mf    { color: #CFAB00; } // Literal.Number.Float
    .mh    { color: #CFAB00; } // Literal.Number.Hex
    .mi    { color: #CFAB00; } // Literal.Number.Integer
    .mo    { color: #CFAB00; } // Literal.Number.Oct

    .s     { color: #E87501; } // Literal.String
    .sb    { color: #E87501; } // Literal.String.Backtick
    .sc    { color: #E87501; } // Literal.String.Char
    .sd    { color: #E87501; } // Literal.String.Doc
    .s2    { color: #E87501; } // Literal.String.Double
    .se    { color: #E87501; } // Literal.String.Escape
    .sh    { color: #E87501; } // Literal.String.Heredoc
    .si    { color: #E87501; } // Literal.String.Interpol
    .sx    { color: #E87501; } // Literal.String.Other
    .sr    { color: #E87501; } // Literal.String.Regex
    .s1    { color: #E87501; } // Literal.String.Single
    .ss    { color: #990073 } // Literal.String.Symbol

    .bp    { color: #999 } // Name.Builtin.Pseudo
    .vc    { color: #008080 } // Name.Variable.Class
    .vg    { color: #008080 } // Name.Variable.Global
    .vi    { color: #008080 } // Name.Variable.Instance
    .il    { color: #099 } // Literal.Number.Integer.Long


    .gd    { color: #000; background-color: #fdd } // Generic.Deleted
    .gd .x { color: #000; background-color: #faa } // Generic.Deleted.Specific
    .ge    { font-style: italic } // Generic.Emph
    .gr    { color: #a00 } // Generic.Error
    .gh    { color: #999 } // Generic.Heading
    .gi    { color: #000; background-color: #dfd } // Generic.Inserted
    .gi .x { color: #000; background-color: #afa } // Generic.Inserted.Specific
    .go    { color: #888 } // Generic.Output
    .gp    { color: #555 } // Generic.Prompt
    .gs    { font-weight: bold } // Generic.Strong
    .gu    { color: #aaa } // Generic.Subheading
    .gt    { color: #a00 } // Generic.Traceback
}
